<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{fragments/layout}" lang="de">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assetsDashboard/img/apple-icon.png">
	<link rel="icon" type="image/png" href="assetsDashboard/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="#{title.list}"></title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<!-- CSS Files -->
	<link href="assetsDashboard/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assetsDashboard/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="assetsDashboard/demo/demo.css" rel="stylesheet" />
</head>
<body>
	<div class="content" data-layout-fragment="content">
		<div class="container-fluid">
			<h1 th:text="#{title.application}"></h1>
			<h2 th:text="#{title.list}"></h2>
			<form th:action="@{/editreservation}"
				  th:object="${reservation}" method="post">
				<table class="table">
					<tr>
						<td><label for="email"  th:text="#{reservation.email}">Email der Person:</label></td>
						<td><input id="email" type="text" th:field="*{email}" /></td>
						<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
					</tr>
					<tr>
						<td><label for="tel" th:text="#{reservation.tel}" >Tel. Nummer der Person:</label></td>
						<td><input id="tel" type="text" th:field="*{telNumber}" />
						<td th:if="${#fields.hasErrors('telNumber')}" th:errors="*{telNumber}">Tel Error</td>
					</tr>
					<tr>
						<td><label for="adults" th:text="#{reservation.adults}" >Vorname der Person:</label></td>
						<td><input type="number" id="adults" th:field="*{adults}" /></td>
						<td th:if="${#fields.hasErrors('adults')}" th:errors="*{adults}">Adults Error</td>
					</tr>
					<tr>
						<td><label for="kid" th:text="#{reservation.kids}" >Anzahl Kinder:</label></td>
						<td><input id="kid" type="number" th:field="*{kids}" />
						<td th:if="${#fields.hasErrors('kids')}" th:errors="*{kids}">Kids Error</td>
					</tr>
					<tr>
						<td><label for="date" th:text="#{reservation.date}" >Anzahl Kinder:</label></td>
						<td><input id="date" type="date" th:field="*{date}" />
						<td th:if="${#fields.hasErrors('date')}" th:errors="*{date}">date Error</td>
					</tr>
					<tr>
						<td><label for="length" th:text="#{reservation.length}" >Länge:</label></td>
						<td><input id="length" type="number" th:field="*{length}" />
						<td th:if="${#fields.hasErrors('length')}" th:errors="*{length}">length Error</td>
					</tr>
					<tr>
						<td></td>
						<td><input class="btn btn-success" type="submit"
								   value="Submit" /> <input class="btn btn-warning" type="reset"
															value="Reset" /></td>
					</tr>
				</table>
				<!--<h2 th:if="${#fields.hasAnyErrors()}">Global Errors</h2>
                <p th:if="${#fields.hasErrors('vorname')}">Vorname | <span th:errors="*{vorname}">Vorname Error</span> </p>
                <p th:if="${#fields.hasErrors('name')}" >Nachname | <span th:errors="*{name}">Name Error</span> </p>
                <p th:if="${#fields.hasErrors('email')}">Email | <span th:errors="*{email}">Email Error</span></p>
                <p th:if="${#fields.hasErrors('telNummer')}">TelNummer | <span th:errors="*{telNummer}">Tel Error</span></p>
                <p th:if="${#fields.hasErrors('alter')}" >Alter | <span th:errors="*{alter}">Age Error</span></p>
                <p th:if="${#fields.hasErrors('newsletter')}">Newsletter | <span th:error="*{newsletter}">news Error</span></p>-->

			</form>
		</div>

	</div>

</body>
</html>
