<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{fragments/layout}" lang="de">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assetsDashboard/img/apple-icon.png">
	<link rel="icon" type="image/png" href="assetsDashboard/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="#{reservations.title}"></title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<!-- CSS Files -->
	<link href="assetsDashboard/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assetsDashboard/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="assetsDashboard/demo/demo.css" rel="stylesheet" />
</head>
	<body>
		<div class="content" data-layout-fragment="content">
			<div class="container-fluid" th:object="${reservation}">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title" th:text="#{reservations.title}"> All</h4>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table">
										<thead class=" text-primary">
										<th th:text="#{reservation.email}"></th>
										<th th:text="#{reservation.tel}"></th>
										<th th:text="#{reservation.date}"></th>
										<th th:text="#{reservation.length}"></th>
										<th th:text="#{reservation.adults}"></th>
										<th th:text="#{reservation.kids}"></th>
										</thead>
										<tbody>
										<tr th:each="reservation : ${reservations}">
											<td th:text="${reservation.getEmail()}"></td>
											<td th:text="${reservation.getTelNumber()}"></td>
											<td th:text="${reservation.getDateString()}"></td>
											<td th:text="${reservation.getLength()}"></td>
											<td th:text="${reservation.getAdults()}"></td>
											<td th:text="${reservation.getKids()}"></td>

										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!--<ul class="list-group">
                        <li class="list-group-item"><h1>Ihr Profil</h1></li>
                        <li class="list-group-item"
                            th:text="'Name: ' + ${editprofile.name}" />
                        <li class="list-group-item" th:text="'Vorname: ' + ${editprofile.getVorname()}" />
                        <li class="list-group-item" th:text="'Alter: ' + ${editprofile.getAlter()}" />
                        <li class="list-group-item" th:text="'Email: ' + ${editprofile.email}" />
                        <li class="list-group-item" th:text="'Tel. Nummer: ' + ${editprofile.telNummer}" />
                        <li class="list-group-item" th:text="'Newsletter: ' + *{newsletter}" />
                    </ul>
                    <a href="/editprofile"> new profile</a>-->

				<!-- -->
				</div>
			</div>
		</div>

		<!--   Core JS Files   -->
		<script src="assetsDashboard/js/core/jquery.min.js"></script>
		<script src="assetsDashboard/js/core/popper.min.js"></script>
		<script src="assetsDashboard/js/core/bootstrap.min.js"></script>
		<script src="assetsDashboard/js/plugins/perfect-scrollbar.jquery.min.js"></script>
		<!-- Chart JS -->
		<script src="assetsDashboard/js/plugins/chartjs.min.js"></script>
		<!--  Notifications Plugin    -->
		<script src="assetsDashboard/js/plugins/bootstrap-notify.js"></script>
		<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
		<script src="assetsDashboard/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
		<script src="assetsDashboard/demo/demo.js"></script>
		<script>
			$(document).ready(function() {
				// Javascript method's body can be found in assets/assets-for-demo/js/demo.js
				demo.initChartsPages();
			});
		</script>
	</body>
</html>
